* {
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    color: #151515;
    margin: 0;
}

/* Typography */

h1, 
h2, 
h3,
h4,
h4,
h6,
p,
ul {
    margin: 0;
}


/* Navbar */
.logo {
    align-self: center;
    margin-right: 3px;
    width: 1.5em;
}

.logo-text {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 0.875rem;
}

nav{
    width: 100%;
    height: 59px;
    display: flex;
    align-items: center;
    padding: 0 1.5em 0 1.25em;
    justify-items: center;
}

nav ul{
    list-style: none;
    display: flex;
    margin-left: auto;
    font-size: .75rem;
    line-height: 1em;
    gap: 30px;
    font-weight: 600;
}

a{
    text-decoration: none;
    color: #090909;
}

/* Grid */

.wrapper {
    display: grid;
    grid-template-columns: minmax(414px, 1fr);
    justify-items: center;
}

/* Article */

.article {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 293px;
    padding: 1.5em 1.25em;
}

.article-date {
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 400;
}

.article-title {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
}

.article-blurb {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25em;
}

.article-image {
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    height: 191px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.31)), url('../images/article-image-hero.png');
border-radius: 3px;
transform: matrix(-1, 0, 0, 1, 0, 0);
    background-size: cover;
}

.article p {
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 400;
}

/* Recent Posts */

.recent-posts {
    margin-top: 0.625rem;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25rem;
}

.posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(374px, 1fr));
    padding: 0 1.25em;
    gap: 2.56em;
    margin-top: 1.69rem;
    margin-bottom: 3.5rem;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.post-image {
    width: 100%;
    flex-grow: 1;
}

.post-date {
    margin-top: 5px;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1rem;
    text-transform: uppercase;

}

.post-title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.post-blurb {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
}

footer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 6.56em;
    background: #202020;
    text-align: center;
    font-size: .75rem;
}

.footer-title {
    color: #ECECEC;
    font-weight: 700;
    line-height: .75rem;
}

.footer-copyright {
    margin-top: 0.2em;
    color: #D7D7D7;
    font-weight: 400;
    line-height: .94rem;
}

@media (min-width: 1085px){
    nav {
        height: 5.19rem;
    }

    .logo {
        width: 2.125em;
    }

    .logo-text {
        font-size: 1.25rem;
    }

    nav ul {
        font-size: 1em;
        line-height: 1.25em;
    }

    nav,
    .article,
    .posts {
        padding: 0 3.31em;
    }

    .article {
        margin-top: 4.8rem;
        margin-bottom: 3.56rem;
    }

    .article-image {
        margin: 2rem 0;
        width: 100%;
        height: 483px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.31)), url('../images/article-image-hero.png');
    border-radius: 3px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
        background-size: cover;
    }

    .article-date,
    .article-title,
    .article-blurb,
    .article p {
        padding: 0 4.25rem;
    }

    .hero-post {
        padding-top: 3.75em;
        padding-bottom: 3.75em;
        min-height: 488px;
        background-size: 100%;
    }

    .article-date {
        font-size: 1rem;
        line-height: 1.25rem;
    }

    .article-title {
        font-size: 2.25rem;
        line-height: 2.44rem;
    }

    .article strong {
        margin-bottom: 1rem;
        font-size: 1.5rem;
        line-height: 1.875rem;
        font-weight: 700;
    }

    .article p {
        font-size: 1.125rem;
        line-height: 1.5rem;
    }

    .posts {
        gap: 3em 1.625em;
        grid-template-columns: repeat(auto-fill, minmax(309px, 1fr));
        margin-bottom: 2em;
    }

    .post-title {
        margin-top: 5px;
    }

    .recent-posts {
        margin: 0;
        font-size: 1.5rem;
        line-height: 1.5rem;
        
    }
}