* {
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    color: #151515;
    margin: 0;
}

/* Typography */

h1, 
h2, 
h3,
h4,
h4,
h6,
p,
ul {
    margin: 0;
}


/* Navbar */
.logo {
    align-self: center;
    margin-right: 3px;
}

.logo-text {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 0.875rem;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1.125em 1.5em 1.125em 1.25em;
    justify-self: none;
}

nav ul{
    list-style: none;
    display: flex;
    margin-left: auto;
    font-size: .75rem;
    line-height: 1em;
    gap: 30px;
    font-weight: 600;
}

.home {
    border-bottom: 2px solid black;
}

a{
    text-decoration: none;
    color: #090909;
}

/* Grid */

.wrapper {
    display: grid;
    grid-template-columns: minmax(414px, 1fr);
    justify-items: center;
}

/* Hero Post */

.hero-post {
    /* min-width: 320px; */
    display: grid;
    background: darkolivegreen url("../images/article-image-hero.png");
    min-height: 293px;
    margin: 0 auto;
    background-size: cover;
    color: #fff;
    padding: 1.25em;
    grid-template-rows: minmax(87px, 1fr) max-content max-content;
    grid-template-areas:
    "hero-date"
    "hero-title"
    "hero-p";
    gap: 8px;
    border: 1px solid black;
}

.hero-date {
    grid-area: hero-date;
    align-self: end;
    font-size: .75rem;
    font-weight: 400;
}

.hero-title {
    grid-area: hero-title;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
}

.hero-blurb {
    grid-area: hero-p;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25em;
}

/* Posts */

.posts {
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    padding: 2.125em 1.25em 1.7em 1.25em;
    row-gap: 2.56em;
}

.post-date {
    font-size: .875rem;
    font-weight: 400;
    line-height: 1rem;
    text-transform: uppercase;

}

.post-title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.post-blurb {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
}